/* main */
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.yellow-c {
    color: #ffc107 !important;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* shared */
.container {
    padding-right: 50px;
    padding-left: 50px;
    color: white;
}

.container-rgt {
    padding-right: 50px;
    color: white;
}

.container-lft {
    padding-left: 50px;
    color: white;
}

.links {
    text-decoration: none;
    color: white;
}

.special-link {
    color: #ffc107;
}

.special-link:hover {
    color: yellow;
    cursor: pointer;
}

.main-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

/* header */
.navbar-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.logo-div {
    background-color: white;
    height: 80px;
    padding-right: 50px;
    border-radius: 0px 20px;
}

.logo-img {
    border-radius: 120px;
    max-height: 50px;
    margin-right: 5px;
}

.logo-title {
    margin: 0px;
    padding: 0px;
    /* color: #ffc107; */
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

.nav-element {
    margin: 13px 15px 5px 15px;
    font-size: 20px;
}

.nav-element:hover, .links:hover {
    color: #ffc107;
    cursor: pointer;
}

.humberger {
    /* don't want to show the menue in larger screens.
    will show in smaller screen */
    display: none;
}

/* Home section */
.home-section {
    /* max-width: 1000px; */
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 80vh;
    margin-left: 200px;
    margin-right: 200px;
}

@media (max-width: 1000px) {
    .nav-rgt-sec {
        display: none;
    }
}

@media (max-width: 763px) {
    .nav-center-sec {
        display: none;
    }

    /* set humberger menue */
    .humberger {
        display: block;
    }
    .menue-edit {
        font-size: 35px !important;
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .nav-center-sec {
        display: none;
    }

    .nav-element {
        margin: 13px 15px 5px 15px;
        font-size: 15px;
    }
    
    /* adjest shared classes */
    .container-rgt {
        padding-right: 10px;
        color: white;
    }
    
    .container-lft {
        padding-left: 10px;
        color: white;
    }

    /* change log and related styles */
    .logo-div {
        background-color: white;
        height: 40px;
        padding-right: 15px;
        border-radius: 0px 20px;
    }

    .logo-title {
        margin: 0px;
        padding: 0px;
        /* color: #ffc107; */
        color: black;
        cursor: pointer;
        margin-top: -8px;
    }

    .logo-img {
        border-radius: 120px;
        max-height: 30px;
        margin-right: 3px;
        margin-top: -11px;
    }

    /* set humberger menue */
    .humberger {
        display: block;
    }

    .menue-edit {
        font-size: 28px !important;
        margin-top: 5px;
    }
}